.lf{
    // margin-top: 40px;
    color: var(--accent-color);
}
.ls{
    margin-top: 0px !important;
    margin-bottom: 20px;
}
::ng-deep footer{
    svg{
        margin-top: 21px;
        height: 100px;
        width: 100px;
        margin-bottom: -13px;
    }
}
.logo-svg{
    text-align: center;
    svg{
        fill-rule: evenodd;
        clip-rule: evenodd;
        height: 40px;
        width: 141px;
        margin-top: 32px;
        fill: white;
        opacity: 0.2;
    }
}