.welcome-container{
    flex: 1;
    position: relative;
    padding: 12px;
    // background: linear-gradient(var(--accent-color),var(--bg1) 56%);
    // background-color: var(--bg1); 
    position: relative;
    overflow: hidden;
    &:before{
        content: "";
        background: linear-gradient(45deg,rgba(255,255,255,0.3), transparent);
        height: 978px;
        width: 594px;
        position: absolute;
        top: -57px;
        left: -237px;
        border-radius: 100%;
        transform: rotate(-29deg);
    }
}

.main-label{
    position: absolute;
    top: 4%;
    left: 8%;
    color: var(--invert-color);
}

.main-image{
    background-image: url(/assets/welcome.png);
    background-size: cover;
    width: 100%;
    height: 34%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: 37%;
}

.btn-pos{
    position: absolute;
    bottom: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    font-weight: bolder;
}
.m{
    color: var(--accent-color);
    text-shadow: 0p 0px 4px var(--accent-color);
    font-weight: 800;
    font-size: 41px;
}
.s{
    font-size: 18px;
    border: 0px;
    margin: 0px;
    padding: 0px;
}
.p{
    font-size: 13px;
    letter-spacing: 1px;
}