<div class="header" (click)="goWelcome()">
    <i class="fa fa-chevron-left"></i>
    <icon-logo></icon-logo>
</div>
<div class="container" *ngIf="!loading">
    <div class="detail-box">
        <div class="detail-img" [style.background]="'url(' + model.showImg +  ')'"></div>
        <div class="detail-fabricante">{{model.fabricante}}</div>
        <div class="detail-label">{{model.nome}}</div>
        <div class="detail-valor">{{model.valor | currency}}</div>
        <div class="row-cat">
            <div class="cat-box">
                <div class="cat-label">KM</div>
                <div class="cat-value">{{model.km}}</div>
            </div>
            <div class="cat-box">
                <div class="cat-label">Ano/Modelo</div>
                <div class="cat-value">{{model.ano}}/{{model.modelo}}</div>
            </div>
            <div class="cat-box">
                <div class="cat-label">Câmbio</div>
                <div class="cat-value">{{model.cambio}}</div>
            </div>
        </div>
    </div>
    <div class="row-adicionais" *ngIf="model.items && model.items.length > 0">
        <div class="adicionais-item" *ngFor="let el of model.items">
            {{el}}
        </div>
    </div>

    <ul id="slider" (click)="openBigSlider()">
        <li *ngFor="let el of model.listImages"
        [style.background]="'url(' + el +  ')'">
        </li> 
    </ul>
    <div class="info">{{model.sobre}}</div>

    <div class="whats-btn"> PATYO (55) 98102-5202</div>
</div>

<div *ngIf="bigSlider" class="big-drop"></div>


<div *ngIf="bigSlider" class="big-slider-container" (click)="closeBigSlider($event)">
    <ul id="bigSlider">
        <li *ngFor="let el of model.listImages"
            [style.background]="'url(' + el +  ')'">
        </li>
    </ul>
</div>

git config --global user.email "you@example.com"
  git config --global user.name "Your Name"