<div class="header" (click)="goWelcome()">
    <i class="fa fa-chevron-left"></i>
    <icon-logo></icon-logo>
</div>
<div class="container">
    <h2 style="margin-top: 12px; margin-bottom: 16px;">Qual a sua <b>Escolha</b>?</h2>

    <div class="content-veiculos">
        
        <div class="box-veiculos" *ngFor="let el of vs.listModel">
            <!-- <div class="marca-veiculos">{{el.marca}}</div> -->
            <div class="img-veiculos" [style.background]="'url(' + el.showImg +  ')'"></div>
            <div class="nome-veiculos">{{el.nome}}</div>            
            <div class="ano-veiculos">{{el.ano}}/{{el.modelo}}</div>
            <div class="valor-veiculos">{{el.valor | currency }}</div>            
            <div class="btn-veiculos" (click)="goToDetail(el)"><i class="fa fa-angle-double-right"></i></div>
                
        </div>
    </div>
</div>
<app-footer></app-footer>